@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
b {
  font-variant: all-small-caps;
}

p.scene-end, .dedication {
  font-variant: all-small-caps;
  text-align: center;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

section > header{
	text-align: center;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}
