@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

#chapter-1-2 blockquote{
	text-align: center;
	font-style: italic;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:diary"]{
	margin: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"] > header + p,
[epub|type~="z3998:diary-entry"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"] header{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header p{
	text-indent: 0;
}

[epub|type~="se:diary.dateline"]{
	margin-top: 1em;
	text-align: center;
	font-style: italic;
}

[epub|type~="z3998:letter"]:not(.short){
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:letter"] header{
	text-indent: 0;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

table{
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

td{
	text-align: center;
	border-width: 1px;
	border-style: solid;
	padding: .5em;
}

table table{
	width: 100%;
	border-style: none;
	margin-top: 0;
	margin-bottom: 0;
}

table table td{
	width: 50%;
	border-style: none;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

table table td + td{
	text-align: right;
}

[epub|type~="z3998:diary-entry"] > p time{
	font-style: italic;
}

[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
