@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

b{
	font-variant: small-caps;
	font-weight: normal;
}

.business-card{
	text-align: center;
	font-style: italic;
}

section[epub|type~="dedication"] p{
	margin-top: 5em;
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	margin: 0 auto 3em auto;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="z3998:diary"]{
	margin: 0;
}

[epub|type~="z3998:diary-entry"]{
	margin-left: 0;
	margin-right: 0;
}

[epub|type~="z3998:diary-entry"] > p:first-child,
[epub|type~="z3998:diary-entry"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:diary-entry"] header{
	text-indent: 0;
	text-align: center;
}

[epub|type~="se:diary.dateline"]{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: center;
	font-style: italic;
}

[epub|type~="z3998:letter"]{
	margin: 1.5em 0;
}

[epub|type~="z3998:letter"] > p:first-child,
[epub|type~="z3998:letter"] > header + p{
	text-indent: 0;
}

[epub|type~="z3998:letter"] header{
	text-indent: 0;
	text-align: center;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

[epub|type~="se:letter.dateline"]{
	margin-top: 1em;
	margin-bottom: 0.5em;
	text-align: right;
	font-style: italic;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:recipient"]{
	font-variant: small-caps;
}

[epub|type~="z3998:valediction"]{
	text-align: right;
}

[epub|type~="z3998:sender"]{
	font-variant: small-caps;
	text-align: right;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] + p{
	text-indent: 0;
}

[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
	font-variant: small-caps;
}

.scene-end{
	margin-top: 1.5em;
	font-variant: small-caps;
	text-align: center;
}

section > header{
	text-align: center;
}

table{
	border: solid black 1px;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;
}

td{
	text-align: center;
	border: solid black 1px;
}

[epub|type~="se:letter.dateline"] > time{
	display: block;
}
